/* 自定义 CSS 来覆盖主题中的路径问题 */
.btn-dark {
  background: url('https://maidaole.github.io/theme.png') left center / auto theme('spacing.6') no-repeat !important;
}
.dark .btn-dark {
  background-position: right !important;
}

/* 确保菜单可见 */
.nav-wrapper {
  display: flex;
  visibility: visible;
  opacity: 1;
}

/* 修复移动端菜单 */
@media (max-width: 1024px) {
  html.open .nav-wrapper {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
} 